<%= form_for @company do |f| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="company-form">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter Name.." %><br>
    </div>

    <div>
      <%= f.label :email%>
      <%= f.text_field :email, class: "form-control", placeholder: "Enter Email.."  %><br>
        <h3>Tasks</h3>
        <div id="filter_options">
          <%= f.fields_for :filter_options do |task| %>
            <%= render "companies/filter_fields", f: task %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Add filter option", f, :filter_options, partial: 'companies/filter_fields' %>
          </div>
        </div>
    </div>

    <div>
      <br><%= f.submit 'Submit', class: "btn btn-success" %><br>
    </div>
  </div>
<% end %>
