<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="company-form">
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter Name.." %><br>
    </div>

    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email, class: "form-control", placeholder: "Enter Email.."  %><br>
    </div>

    <div>
      <%= form.submit 'Submit', class: "btn btn-success" %><br>
    </div>
  </div>
<% end %>
