<% if @promos.present? %>
  <section class="ftco-section">
    <div class="container">
      <div class="table-wrap" >
        <table class="table-connection">
          <thead class="thead-primary">
            <tr>
              <th>Index</th>
              <th>Promo Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Description</th>
              <th>Company</th>
              <th>Filter Name</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
            <tbody>
              <% promos.each.with_index(1) do |promo, index| %>
                <tr>  
                  <th scope="row" class="scope" ><%= index %></th>
                  <td><%= promo.name %></td>
                  <td><%= promo.start_date %></td>
                  <td><%= promo.end_date %></td>
                  <td><%= promo.description %></td>
                  <td><%= @selected_companys.name %></td>
                  <td>
                    <% filter_name = promo.filter_options.map(&:name).join(', ') %>
                    <%= filter_name %>
                  </td>
                  <td><%= link_to "Edit", edit_promo_path(promo), class: "btn btn-outline-primary" %></td>
                  <td><%= button_to "Destroy", promo, method: :delete, form: { data: { turbo: true, turbo_confirm: 'Are you sure?' } }, class: "btn btn-outline-danger" %></td>
                </tr>
              <%end%>
            </tbody>
        </table>
      </div>  
    </div>
  </section>
<% else %> 
  <h1 class='available'>Promo is not Available</h1>
 <% end %>
