<section class="ftco-section">
  <div class="container">
    <div class="table-wrap" >
    <%= turbo_frame_tag "promo-list" do %>
      <table class="table-connection">
        <thead class="thead-primary">
          <% unless @promos.count == 0  %>
            <tr>
              <th>Index</th>
              <th>Promo Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Show this promo</th>
            </tr>
        </thead>
          <tbody id='promo-list'>
            <% promos.each.with_index(1) do |promo, index| %>
              <tr>  
                <th scope="row" class="scope" ><%= index %></th>
                <td><%= promo.name %></td>
                <td><%= promo.start_date %></td>
                <td><%= promo.end_date %></td>
                <td><%= promo.description %></td>
                <td><%= link_to "Edit", edit_promo_path(promo),class: "btn btn-outline-primary" %></td>
                <td><%= button_to "Destroy", promo, method: :delete, class: "btn btn-outline-danger" %></td>
              </tr>
            <%end%>
          </tbody>
          <% end %>
      </table>
    <% end %>
    </div>  
      </div>
    </div>
  </div>
</section>