<h1 class='company-title'>Promos</h1>

<div class='add_button'>
  <%= link_to "New promo", new_promo_path, class: 'btn btn-outline-success' %>
</div>

<div class= 'select'>
  <span class='name-tag'>Select company :- </span><%= collection_select :promo, :company_id, @companies, :id, :name, selected: @selected_companies %>
</div>

<div id = 'promo-filter' class= 'select'>
  <% if @selected_companys.filter_options.present? %>
    <span class='name-tag'>Select Filter :- </span><%= select_tag "promo", options_from_collection_for_select(@filter_options, "id", "name", selected: @filter_options.pluck(:id)), multiple: true, class: "form-control" %>
  <% end %>
</div>

<%= turbo_frame_tag "promo-list" do %>
  <%= render 'promos/filtered_table', promos: @promos %>
<% end %>

