<%= turbo_stream.update("promo-list") do %>
  <%= render 'promos/filtered_table', promos: @promos %>
<% end %>

<%= turbo_stream.update("filter_promo_list") do %>
  <div class="export-details">
    <%= link_to "Export Details", export_promos_path(company_id: @selected_companys.id,format: 'csv'), class: "btn btn-danger" %>
  </div>
<% end %>

<% unless @filter_option_ids.present? %>
  <%= turbo_stream.update("promo-filter") do %>
    <% if @selected_companys.filter_options.present? %>
      <span class='name-tag'>Select Filter :- </span><%= select_tag "promo", options_from_collection_for_select(@filter_options, "id", "name", selected: @filter_options.pluck(:id)), multiple: true,  class: "form-control" %>
    <% end %>
  <% end %>
<% end %>
