<!DOCTYPE html>
<html>
  <head>
    <title>Promoprep</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Flash Message %>
    <% flash.each do |key, value| %>
      <% if key == :notice %>
        <div class="alert alert-success"><%= value %></div>
      <% elsif key == :alert %>
        <div class="alert alert-danger"><%= value %></div>
      <% else %>
        <div class="alert alert-info"><%= value %></div>
      <% end %>
    <% end %>
  <%= yield %>
  </body>
</html>
